.register-page {
    padding: 60px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.register-page h2 {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.register-page .container {
    max-width: 600px;
    margin: 0 auto;
}

#register-form input, #register-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main-dark-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.main-dark-button i {
    margin-right: 5px;
}
